<div class="p-4">
  <div class="container">
    <h1>Users</h1>
    <a routerLink="add" class="btn btn-sm btn-success mb-2">Add User</a>
    <table class="table table-striped">
      <thead>
        <tr>
          <th style="width: 30%">First Name</th>
          <th style="width: 30%">Last Name</th>
          <th style="width: 30%">UserName</th>
          <th style="width: 30%"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; trackBy: userTrackBy">
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.username }}</td>
          <td style="white-space: nowrap">
            <a
              routerLink="edit/{{ user.id }}"
              class="btn btn-sm btn-primary me-1"
              >Edit</a
            >
            <button
              (click)="deleteUser(user.id)"
              class="btn btn-sm btn-danger"
              style="width: 58px"
              [disabled]="user.deleting"
            >
              <span
                *ngIf="user.deleting"
                class="spinner-border spinner-border-sm"
              ></span>
              <span *ngIf="!user.deleting">Delete</span>
            </button>
          </td>
        </tr>
        <tr *ngIf="!users">
          <td class="text-center" colspan="4">
            <span class="spinner-border spinner-border-lg align-center"></span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
