<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark px-3">
  <div class="navbar-nav">
    <a routerLink="/" class="nav-item nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
    <a routerLink="/users" class="nav-item nav-link" routerLinkActive="active">Users</a>
    <button class="btn btn-link nav-item nav-link" (click)="logout()">Logout</button>
  </div>
</nav>

<!-- main app container -->
<div class="container">
  <org-alert></org-alert>
  <router-outlet></router-outlet>
</div>
